{% block head %}
    <link rel="stylesheet" href="/static/assets/css/componentes/_menu_conf.css" type="text/css">
{% endblock %}

<div id="container" class="container" style="margin-top: 100px;">
    <div class="row">
        <i class="fas fa-cog" style="color:darkgreen; font-size: 30px;"></i>
        <h3 style="color: rgb(12, 71, 25); margin-left: 10px; margin-bottom: 0px;">Painel de Configuração</h3>
        <hr style="border: 2px solid #106250; width: 100%;">
    </div>
    <div class="row">
      <h6>        
          <a href="/campus"><i class="fas fa-university" style="color: orangered;"></i> Campus</a> 
          |
          <a href="/cursos"><i class="fas fa-book" style="color: blueviolet;"></i> Cursos</a> 
          |
          <a href="/tipo_trabalho"><i class="fas fa-tasks" style="color: cadetblue;"></i> Tipo Trabalho</a> 
          |
          <a href="/parametro"><i class="fas fa-file-alt" style="color: rgb(42, 116, 180);"></i> Cabeçalhos & Rodapés</a>
          |
          <a href="/ficha"><i class="fas fa-file-alt" style="color: rgb(36, 120, 193);"></i> Formulário</a>
      </h6>
  </div> 
  </div>