
<nav class="navbar navbar-expand-lg navbar-light bg-dark titulo">
  <!-- Logo e Título à esquerda -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: darkseagreen; font-size: 16px; font-weight: 500;">      
      <img src="/static/assets/img/UFNT_brasao.png" alt="Seu Logo" width="25" height="25" class="d-inline-block align-text-top">
      Universidade Federal do Norte do Tocantins</span>
    </a>

    <!-- Ícone de Login à direita -->
    <div class="navbar-nav ms-auto">
      <a class="nav-link" href="/login">
        <i class="fas fa-user" style="color:darkorange"></i> <span style="color: azure; font-weight: 500;">Login</span>
      </a>
    </div>
  </div>
</nav>
<!-- Adicione o link para o Bootstrap JS e o Popper.js no final do corpo do HTML -->

