
<nav class="navbar navbar-expand-lg navbar-light bg-dark titulo">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: darkseagreen; font-size: 16px; font-weight: 600;">      
      <img src="/static/assets/img/UFNT_brasao.png" alt="Seu Logo" width="25" height="25" class="d-inline-block align-text-top">
      Universidade Federal do Norte do Tocantins</span>
    </a>
    <div class="navbar-nav ms-auto">
    {% if current_user.is_authenticated %}
        <a class="nav-link" href="/login/logout" style="color: aliceblue;">
            <i class="fa fa-sign-out-alt" style="color: orange;"></i> Logout
        </a>      
    {% else %}
        <a class="nav-link" href="/login" style="color: aliceblue;">
            <i class="fa fa-sign-in-alt" style="color: lightgreen;"></i> Login
        </a>      
    {% endif %}  
    </div>
  </div>
</nav>

<div id="msg" class="mensage" style="margin-top: 60px;">  
  {% if success_message %}
        <div id="success-alert" class="alert alert-success" role="alert">
            {{ success_message }}
        </div>
        {% endif %}

        {% if error_message %}
        <div id="error-alert" class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}
</div> 

