body {
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.container a {
    text-decoration: none;
    color: darkslategrey;
    
}
.container {
    margin-top: 80px;
    margin-bottom: 0;            
}

h4 {
    color: #1d6d3e;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;            
}

label {    
    color: #515e6c;
    font-weight: 600;
}

input.form-control {
    border: 1px solid #ced4da;
}

button.btn-primary {    
    background-color: #0e8939;
    border: 1px solid #034f03;
    text-align: center;    
    border: #656765;    
}

button.btn-primary:hover {
    background-color: #0d7e34;
    border: 1px solid #2fa1d1;
}

.section-icon {
    font-size: 24px;
    margin-right: 5px;
    margin-left:5px;
}
.titulo {   
    text-transform: uppercase; 
    font-size: 12px;
    color: #199f5c;
    border-bottom: 4px solid #323d48;              
    margin-bottom: 0px;
    padding: 10px;    
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ajuste o valor de z-index conforme necessário para sobrepor outros elementos */
}
.titulo img {
    width: 30px;
    margin-right: 5px;
    margin-left: 15px;
}


.subtitulo {
    color: #515e6c;
    font-size: 24px;
    padding-top: 0px;
    padding-bottom:10px;
    font-weight: 500;
    text-align: center; 
}
.container .card form input:focus {
    background:#4bb1b9;
}

footer {
    color: #515e6c;
}
.login-container {
    margin-top: 100px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.login-container h2 {    
    font-size: 20px;
    color: #1c6821;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
}

.login-form input {
    margin-bottom: 15px;
}

.login-form button {
    background-color: #007bff;
    color: #fff;
}

.login-form button:hover {
    background-color: #0056b3;
}
a:hover{
    font-weight: bold;
}
