<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SIBi-UFNT</title>
    
    <link rel="stylesheet" href="/static/assets/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/font-awesome/5.15.2/css/all.min.css">   
    <link rel="stylesheet" href="/static/assets/css/main.css" type="text/css"> 

    <link href="/static/assets/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="/static/assets/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="/static/assets/fontawesome/css/solid.css" rel="stylesheet" />   
    
    {% block head %} {% endblock %}   
</head>
<body>
    {% block header %}        
            {% include "componentes/_navbar.html" %}                      
    {% endblock %}  

    {% block content %}
    
    
    {% endblock %}

    {% block footer %}
        {% include "componentes/_footer.html" %}
    {% endblock %}  


    <script src="/static/assets/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="/static/assets/jquery/jquery-3.5.1.min.js"></script>
    <script src="/static/assets/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
