{% extends "base.html" %}

  {% block head %}
      <link rel="stylesheet" href="/static/assets/css/views/view.css" type="text/css">
  {% endblock %}

  {% block content %}

    {% include "componentes/_menu_conf.html" %}

  <div class="container"> 
    
  <div class="mensage" style="margin-top: 5px;">  
    {% if success_message %}
          <div id="success-alert" class="alert alert-success" role="alert">
              {{ success_message }}
          </div>
          {% endif %}

          {% if error_message %}
          <div id="error-alert" class="alert alert-danger" role="alert">
              {{ error_message }}
          </div>
          {% endif %}
  </div> 

  {% include "componentes/_modal_remover.html" %}

  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Novo Campus</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()" id="closeModal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <!-- Formulário dentro do modal -->
            <form id="campusForm" action="/campus/save" method="POST">
              <input id="campus_id" name="campus_id" type="hidden" value="">
              <div class="form-group">
                <label for="nome">campus:</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
              </div>                
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!------->

    <div class="container">
      <div class="row">
        <h3><i class="fas fa-angle-double-right" style="color: rgb(42, 116, 180);"></i> Lista de Campus</h3>
      </div>
      <div class="row" style="display: flex; justify-content: flex-end;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal" onclick="openModal()">
            <i class="fas fa-plus"></i> Adicionar
        </button>
      </div>  
      </div>
    
      
      <hr>
      <div style="border-radius:15px; overflow: auto; padding: 0px; background-color:rgb(67, 67, 67); ">
        <table class="table table-striped bg-light" style="margin-top: 0px; padding:0px; border-top:2px solid rgb(67, 67, 67); ">
          <thead class="bg-dark" style="color: aliceblue;">
              <tr>
                  <th></th>
                  <th>Campus</th>                  
                  <th style="width:50px;">Editar</th>
                  <th style="width:50px;">Remover</th>
              </tr>
          </thead>
          <tbody>
              {% for obj in campus %}
                  <tr id="tr{{ obj.id }}">
                      <td style="width: 40px;">{{ loop.index }}</td>
                      <td>{{ obj.nome }}</td>                    
                      <td>
                          <a href="#">
                            <button type="button" class="btn" onclick='abrirModalEditar("{{ obj.id }}")'>
                                <i class="fas fa-pencil-alt icon" title="editar"></i>
                            </button>
                        </a>
                      </td>
                      <td>
                        <a href="#">                          
                          <button type="button" class="btn" onclick='abrirModalRemover("{{ obj.id }}", "{{ obj.nome }}");'>
                            <i class="fas fa-trash-alt icon-red" title="remover"></i> 
                          </button>
                      </a>
                    </td>                      

                  </tr>
              {% endfor %}
          </tbody>
      </table>
      </div>
      
  </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>

    function abrirModalRemover(id, info) {        
      $('#confirmModal').modal('show');
      $('#item-remover').val(id);  
      let coment = info + " . Todos os cursos relacionados também serão apagados. ";  
      $('#info-remover').text(coment)     
    }

    function fecharModalRemover(){
      $('#confirmModal').modal('hide');
    }

    function removerItem() {
      let id = $('#item-remover').val();
      dados = {
        id: id
      };
      
      fetch("/campus/delete", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(dados) // Os dados a serem enviados, convertidos para JSON
      })
      .then(response => response.json()) // Converter a resposta do servidor para JSON
      .then(response => {
        // Se a requisição for bem sucedida, mostrar a resposta do servidor
          fecharModalRemover()
          $("#tr"+id).remove()
      })
      .catch(erro => {
        // Se a requisição falhar, mostrar o erro
        alert(erro.message);
      });

    }

    
  
      // Limpar o formulário ao fechar o modal
      $('#modal').on('hidden.bs.modal', function () {
        $('#campusForm')[0].reset();
      });

    
      $('#modal').on('hidden.bs.modal', function () {
        $('#campusForm')[0].reset();
      });
  
        function hideAlert(alertId) {
            var alertElement = document.getElementById(alertId);
            if (alertElement) {
                setTimeout(function () {
                    alertElement.classList.add('d-none');
                }, 6000);  // 6000 milissegundos = 6 segundos
            }
        }
        
        hideAlert('success-alert');
        hideAlert('error-alert');

        function abrirModalEditar(campusId) {         
            let dados = {campus_id: campusId};

            fetch("/campus/editar", {
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify(dados) // Os dados a serem enviados, convertidos para JSON
            })
            .then(campus => campus.json()) // Converter a resposta do servidor para JSON
            .then(campus => {
              // Se a requisição for bem sucedida, mostrar a resposta do servidor
              $('#campus_id').val(campus.id);
              $('#nome').val(campus.nome);             

              // Abrir o modal
              $('#modal').modal('show');
            })
            .catch(erro => {
              // Se a requisição falhar, mostrar o erro
              alert(erro.message);
            });
        }
        
        function closeModal(){
          $('#modal').modal('hide');
          $('#campusForm')[0].reset();
        }

        function openModal(){
          $('#modal').modal('show');
        }
     

    </script>
    
  {% endblock %}