{% extends 'base.html' %}  
{% block head %}
    <link rel="stylesheet" href="/static/assets/css/views/ficha_view.css">
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
    {% include "componentes/_menu_conf.html" %}
{% endif %}


<div class="container">    
    <div class="subtitulo">
        <img src="/static/assets/img/Logo.jpg">
        <hr style="width: 50%;">        
    </div>
    <form action="/ficha/gerar_ficha" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h4 class="text-left"><i class="fas fa-user section-icon"></i>Passo 1 - Autores</h4>
                    <div class="form-group">
                        <fieldset>
                            <legend> Autor Principal </legend>
                            <label for="autor-nome">
                                Nome: 
                                <span class="info-icon">                            
                                    <i class="fas fa-info-circle" style="font-size: 10;"></i> 
                                    <b style="color: red;">*</b>
                                    <span class="tooltip-text">
                                        Exemplo: 
                                        para o nome <span style="color:black;">Manuel Carneiro de Sousa Bandeira </span> usar <i style="color:darkgreen;">Manuel Carneiro de Sousa</i></span>
                                </span>
                            </label><br>                       
                            
                            <input class="form-control" type="text" id="autor-sobrenome" name="autor-nome" value="" placeholder="Nome" required maxlength="50"><br>
                    
                            <label for="autor-sobrenome">
    
                                Sobrenome:
                                <span class="info-icon">                            
                                    <i class="fas fa-info-circle" style="font-size: 10;"></i>                               
                                    <span class="tooltip-text">Exemplo:
                                        para o nome 
                                        <span style="color:black;">Manuel Carneiro de Sousa Bandeira </span> usar <i style="color:darkgreen;">Bandeira</i></span>
                                </span>
                                 <b style="color: red;">*</b>
    
                            </label>
                                <input class="form-control" type="text" id="autor-sobrenome" name="autor-sobrenome" value="" placeholder="Sobrenome" required maxlength="100"><br>

                        </fieldset>
                        
                        <div id="div-mais-autor">
                            <fieldset>
                                <legend> Outro Autor - Opcional </legend>
                                <label for="autor2-nome">    
                                    Nome:
                                    <span class="info-icon">                            
                                        <i class="fas fa-info-circle" style="font-size: 10;"></i>                               
                                        <span class="tooltip-text">
                                            Informar o nome                                         
                                    </span>                                     
                                </label>
                                
                                    <input class="form-control" type="text" id="autor2-nome" name="autor2-nome" value="" placeholder="Nome"  maxlength="100"><br>

                                <label for="autor2-sobrenome">    
                                    Sobrenome:
                                    <span class="info-icon">                            
                                        <i class="fas fa-info-circle" style="font-size: 10;"></i>                               
                                        <span class="tooltip-text">
                                            Informar o sobrenome                                         
                                    </span>
                                            
                                </label>
                                    <input class="form-control" type="text" id="autor2-sobrenome" name="autor2-sobrenome" value="" placeholder="Sobrenome"  maxlength="100"><br>
                            
                            </fieldset>
                            <fieldset>
                                <legend> Outro Autor - Opcional </legend>
                                <label for="autor3-nome">    
                                    Nome:
                                    <span class="info-icon">                            
                                        <i class="fas fa-info-circle" style="font-size: 10;"></i>                               
                                        <span class="tooltip-text">
                                            Informar o nome                                         
                                    </span>                                     
                                </label>
                                
                                    <input class="form-control" type="text" id="autor3-nome" name="autor3-nome" value="" placeholder="Nome"  maxlength="100"><br>

                                <label for="autor3-sobrenome">    
                                    Sobrenome:
                                    <span class="info-icon">                            
                                        <i class="fas fa-info-circle" style="font-size: 10;"></i>                               
                                        <span class="tooltip-text">
                                            Informar o sobrenome                                         
                                    </span>
                                            
                                </label>
                                    <input class="form-control" type="text" id="autor3-sobrenome" name="autor3-sobrenome" value="" placeholder="Sobrenome"  maxlength="100"><br>
                            
                            </fieldset>  
                    </div>
                        <br>

                    </div>
                    <!-- Adicione mais campos conforme necessário para a seção de Dados Pessoais -->
                </div>

                <div class="card">
                    <h4 class="text-left"><i class="fas fa-file section-icon"></i> Passo 2 - Dados do Trabalho</h4>
                    <div class="form-group">
                        <fieldset>
                            <legend>Dados do Trabalho </legend>
                            <label for="titulo-trabalho">
                                Titulo do Trabalho:
                                <span class="info-icon">                            
                                    <i class="fas fa-info-circle" style="font-size: 10;"></i>                               
                                    <span class="tooltip-text">                                   
                                            Reproduzir igual como aparece no documento;
                                            OBS: Regras gramaticais apenas a primeira palavra, inicial em maiúscula (exceção dos nomes
                                            próprios);
                                            Exemplos: <span style="color:darkgreen;">Vistas e costumes da cidade e arredores de Palmas, em 1992-2000.</span>
                                
                                    </span>
                                <b style="color: red;">*</b>
                            
                            </label><br>
                            <input class="form-control" type="text" id="titulo-trabalho" name="titulo-trabalho" value="" placeholder="Título do Trabalho" required maxlength="255"><br>

                            <label for="titulo-subtitulo">
                                Subtitulo do Trabalho:
                                <span class="info-icon">                            
                                    <i class="fas fa-info-circle" style="font-size: 10;"></i>                               
                                    <span class="tooltip-text">
                                        a) Reproduzido tal como aparece no documento;
                                        b) Iniciais em minúsculo (exceção dos nomes próprios);
                                        Exemplo: <span style="color:darkgreen;"> diálogos com poetas latino-americanos entrevistas</span>
                                
                                    </span>                            
                            
                            </label><br>
                            <input class="form-control" type="text" id="titulo-subtitulo" name="titulo-subtitulo" placeholder="Subtitulo do Trabalho" value="" maxlength="255"><br>
                            
                            <label for="folhas">Folhas: <b style="color: red;">*</b></label><br>
                            <input class="form-control" type="number" min="1" max="999" maxlength="3" id="folhas" name="folhas" class="form-control">
                            
                            <label for="campus">Campus: <b style="color: red;">*</b></label><br>
                            <select id="campus" name="campus" required="required" class=" form-control" >
                            </option>
                                <option value="" selected="selected">---- Selecione o campus ----</option>  
                                {% for camp in campus %}
                                <option value="{{ camp.id }}">{{ camp.nome }}</option>
                                {% endfor %}
                            </select>
                            <label for="curso">Curso: <b style="color: red;">*</b></label>
                            <select id="curso" name="curso" required="required" class="form-control" >
                            <option value="" selected>---- Selecione o curso ---- </option>
                            </select>

                            <label for="tipo-trabalho">Tipo Trabalho: <b style="color: red;">*</b></label>
                            <select id="tipo-trabalho" name="tipo-trabalho" required="required" class=" form-control">
                                <option value="" selected="selected">--- Selecione o tipo de trabalho ---</option>
                                {% for tipo in tipos_trabalho %}
                                    <option value="{{ tipo.id }}">{{ tipo.nome }}</option>
                                {% endfor %}                           
                            </select>

                            <label for="ano">Ano: <b style="color: red;">*</b></label>        
                            <select id="ano" name="ano" class="form-control" required>                        
                                <option value="">--- Selecione o Ano ---</option>
                                
                            </select>
                        </fieldset>
                    </div>              
                </div>
                <div class="card">
                    <h4 class="text-left"><i class="fas fa-chalkboard-teacher section-icon"></i> Passo 3 - Assuntos </h4>                        
                                                       
                       
                        
                    
                    <div class="form-group"> 
                        <fieldset>
                            <legend> Assuntos </legend>                       
                        <label for="assunto1">
                            Assunto 1:  
                            <span class="info-icon">                            
                                <i class="fas fa-info-circle" style="font-size: 10;"></i>                               
                                <span class="tooltip-text">
                                    registre palavras ou expressões que representam o conteúdo do seu trabalho.
                                    Devem aparecer em ordem decrescente de importância, conforme apresentada no resumo.                        
                                </span>                            
                            <b style="color: red;">*</b>
                        </label>
                        <input type="text" class="form-control" name="assunto1" id="assunto1" placeholder="Digite o assunto 1" maxlength="255" required>                        

                        <label for="assunto2">Assunto 2: <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" name="assunto2" id="assunto2" placeholder="Digite o assunto 2" maxlength="255">

                        <label for="assunto3">Assunto 3: <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" name="assunto3" id="assunto3" placeholder="Digite o assunto 3" maxlength="255">

                    </fieldset>
                    </div>
                    <!-- Adicione mais campos conforme necessário para a seção de Dados dos Orientadores -->
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <h4 class="text-left"><i class="fas fa-chalkboard-teacher section-icon"></i> Passo 4 - Dados dos Orientadores</h4>
                    <div class="form-group">
                        <fieldset>
                            <legend> Orientador </legend>
                                                  
                            <label for="orientador-nome">                            
                                Orientador - Nome:                            
                                <span class="info-icon">                            
                                    <i class="fas fa-info-circle" style="font-size: 10;"></i>                               
                                    <span class="tooltip-text">
                                        Digite o nome do seu orientador e
                                        nomes/sobrenomes intermediários, se for o caso. Apenas as primeiras letras iniciais em maiúsculo.
                                        Exemplo: para o nome José Bento Renato Monteiro Lobato, usar <span style="color:darkgreen;">José Bento Renato Monteiro </span>                      
                                    </span> 
                                <b style="color: red;">*</b>
                            
                            </label>
                            <input type="text" class="form-control" name="orientador-nome" id="orientador-nome" placeholder="Digite o nome do orientador" required maxlength="50">
                            
                            <label for="orientador-sobrenome">
                                Orientador - Sobrenome:                                                       
                                <span class="info-icon">                            
                                    <i class="fas fa-info-circle" style="font-size: 10;"></i>                               
                                    <span class="tooltip-text">
                                        Sobrenome do orientador: digite o último sobrenome do orientador. Atenção: assinale a caixa
                                        “orientadora”, se for o caso, para que o programa faça a distinção da forma feminina ao designar
                                        essa função no corpo da ficha catalográfica.
                                        Siga as orientações dadas para último sobrenome do autor.                                    
                                        Exemplo: para o nome José Bento Renato Monteiro Lobato, usar <span style="color:darkgreen;">Lobato</span> 
                                    </span>
                                
                                <b style="color: red;">*</b> 
                            </label>

                            <input type="text" class="form-control" name="orientador-sobrenome" id="orientador-sobrenome" placeholder="Digite o sobrenome do orientador" required maxlength="100">
                            
                            <label for="orientador-feminino">Orientador - Genêro Feminino</label>
                            <input id="orientador-feminino" name="orientador-feminino" type="checkbox" value="False">
                            </fieldset>
                            
                            <fieldset>                                
                                <legend>Coorientador</legend>
                        <label for="corientador-nome">Coorientador - Nome:</label>                        
                        <input type="text" class="form-control" name="coorientador-nome" id="coorientador-nome" placeholder="Digite o nome do coorientador" maxlength="50">
                        
                        <label for="coorientador-sobrenome">Coorientador - Sobrenome:</label>
                        <input type="text" class="form-control" name="coorientador-sobrenome" id="coorientador-sobrenome" placeholder="Digite o sobrenome do coorientador" maxlength="100">
                        
                        <label for="coorientador-feminino">Coorientador - Gênero Feminino</label>
                        <input id="coorientador-feminino" name="coorientador-feminino" type="checkbox" value="True">


                        </fieldset>                     
                        
                        
                    </div>
                    <!-- Adicione mais campos conforme necessário para a seção de Dados dos Orientadores -->
                </div>

                <div class="card">
                    <h4 class="text-left"><i class="fas fa-stream section-icon"></i></i>Passo 5 - Configuração e Download</h4>
                    <div class="form-group"> 
                        <fieldset>
                            <legend> Configuração da Ficha </legend>                       
                            <label for="tipo-arquivo">Tipo Fonte:</label><br>

                            <input type="radio" id="tipo-fonte-arial" name="tipo-fonte" value="Arial" checked>

                            <label for="tipo-fonte-arial" style="font-weight:normal;">Arial</label><br>

                            <input type="radio" id="tipo-fonte-times" name="tipo-fonte" value="Times New Roman">

                            <label for="tipo-fonte-times" style="font-weight:normal;">Times New Roman</label><br>

                            <label for="tipo-arquivo">Tipo Arquivo:</label><br>
                            
                            <input type="radio" id="tipo-arquivo-img" name="tipo-arquivo" value="img">

                            <label for="tipo-arquivo-img" style="font-weight:normal;">Imagem</label><br>
                            
                            <input type="radio" id="tipo-arquivo-pdf" name="tipo-arquivo" value="pdf" checked>
                            <label for="tipo-arquivo-pdf" style="font-weight:normal;">PDF</label><br>   
                            </fieldset>
                            
                            <fieldset>
                                <legend>Download</legend>
                                <h6 class="text-left">Clique no botão abaixo para fazer o Download</h6>
                                <div class="form-group">                        
                                    <button type="submit" class="btn btn-primary"><i class="fas fa-file-alt section-icon"></i></i>DOWNLOAD</button>                       
                                </div>                                
                            </fieldset>
                    </div>
                </div>               
                
            </div>
        </div>        
    </form>
</div>

<script>

    // Quando o valor do campo de seleção de campus é alterado
    document.getElementById("campus").addEventListener("change", function() {
        // Obtém o valor selecionado
        var campusId = this.value;

        // Faz uma requisição assíncrona ao backend para obter os cursos do campus selecionado
        fetch("/ficha/get_cursos", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ campus_id: campusId }),
        })
        .then(response => response.json())
        .then(data => {
            // Limpa as opções existentes
            var cursoSelect = document.getElementById("curso");
            cursoSelect.innerHTML = '<option selected>--- Selecione o curso ---</option>';

            // Adiciona as novas opções com base nos dados recebidos do backend
            data.cursos.forEach(function(curso) {
                var option = document.createElement("option");
                option.value = curso.id;
                option.text = curso.nome;
                cursoSelect.add(option);
            });
        })
        .catch(error => console.error("Erro ao obter cursos: ", error));
    });

    
        document.addEventListener('DOMContentLoaded', function () {
            // Obter o ano atual
            var anoAtual = new Date().getFullYear();

            // Selecionar o elemento <select>
            var selectAno = document.getElementById('ano');

            // Preencher as opções do ano, começando do ano atual
            for (var ano = anoAtual; ano >= 1900; ano--) {
                var option = document.createElement('option');
                option.value = ano;
                option.text = ano;
                selectAno.add(option);
            }
        });    

   
</script>

{% endblock %}
