{% extends 'base.html' %}  
{% block content %}  
<div class="container">    
    <div class="subtitulo">
        <span>Gerador de Ficha Catalográfica - GFC</span>
        <hr style="width: 50%;">
    </div>
    <form action="/ficha/gerar_ficha" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h4 class="text-left"><i class="fas fa-user section-icon"></i>Passo 1 - Autor</h4>
                    <div class="form-group">
                        <label for="autor-nome">Autor - Nome: <b style="color: red;">*</b></label><br>
                        <input class="form-control" type="text" id="autor-sobrenome" name="autor-nome" value="" placeholder="Nome" required maxlength="50"><br>
                
                        <label for="autor-sobrenome">Autor - Sobrenome: <b style="color: red;">*</b></label><br>
                        <input class="form-control" type="text" id="autor-sobrenome" name="autor-sobrenome" value="" placeholder="Sobrenome" required maxlength="100"><br>
                    </div>
                    <!-- Adicione mais campos conforme necessário para a seção de Dados Pessoais -->
                </div>

                <div class="card">
                    <h4 class="text-left"><i class="fas fa-file section-icon"></i> Passo 2 - Dados do Trabalho</h4>
                    <div class="form-group">
                        <label for="titulo-trabalho">Título do Trabalho: <b style="color: red;">*</b></label><br>
                        <input class="form-control" type="text" id="titulo-trabalho" name="titulo-trabalho" value="" required maxlength="255"><br>

                        <label for="titulo-subtitulo">Subtitulo do Trabalho:</label><br>
                        <input class="form-control" type="text" id="titulo-subtitulo" name="titulo-subtitulo" value="" maxlength="255"><br>
                        
                        <label for="folhas">Folhas: <b style="color: red;">*</b></label><br>
                        <input class="form-control" type="number" min="1" max="999" maxlength="3" id="folhas" name="folhas" class="form-control">
                        
                        <label for="campus">Campus: <b style="color: red;">*</b></label><br>
                        <select id="campus" name="campus" required="required" class=" form-control" >
                        </option>
                            <option value="" selected="selected">---- Selecione o campus ----</option>  
                            {% for camp in campus %}
                            <option value="{{ camp.id }}">{{ camp.nome }}</option>
                            {% endfor %}
                        </select>
                        <label for="curso">Curso: <b style="color: red;">*</b></label>
                        <select id="curso" name="curso" required="required" class="form-control" >
                           <option value="" selected>---- Selecione o curso ---- </option>
                        </select>

                        <label for="tipo-trabalho">Tipo Trabalho: <b style="color: red;">*</b></label>
                        <select id="tipo-trabalho" name="tipo-trabalho" required="required" class=" form-control">
                            <option value="" selected="selected">--- Selecione o tipo de trabalho ---</option>
                            {% for tipo in tipos_trabalho %}
                                <option value="{{ tipo.id }}">{{ tipo.nome }}</option>
                            {% endfor %}                           
                        </select>

                        <label for="ano">Ano: <b style="color: red;">*</b></label>        
                        <select id="ano" name="ano" class="form-control" required>                        
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024" selected="selected">2024</option>
                            <option value="2025">2025</option>
                        </select>
                    </div>              
                </div>
                <div class="card">
                    <h4 class="text-left"><i class="fas fa-chalkboard-teacher section-icon"></i> Passo 3 - Assuntos</h4>
                    <div class="form-group">
                        <label for="assunto1">Assunto 1:  <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" name="assunto1" id="assunto1" placeholder="Digite o assunto 1" maxlength="255" required>                        

                        <label for="assunto2">Assunto 2: <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" name="assunto2" id="assunto2" placeholder="Digite o assunto 2" maxlength="255">

                        <label for="assunto3">Assunto 3: <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" name="assunto3" id="assunto3" placeholder="Digite o assunto 3" maxlength="255">

                        <label for="assunto4">Assunto 4: <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" name="assunto4" id="assunto4" placeholder="Digite o assunto 4" maxlength="255">

                    </div>
                    <!-- Adicione mais campos conforme necessário para a seção de Dados dos Orientadores -->
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <h4 class="text-left"><i class="fas fa-chalkboard-teacher section-icon"></i> Passo 4 - Dados dos Orientadores</h4>
                    <div class="form-group">

                        <label for="orientador-nome">Orientador - Nome: <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" name="orientador-nome" id="orientador-nome" placeholder="Digite o nome do orientador" required maxlength="50">

                        <label for="orientador-sobrenome">Orientador - Sobrenome: <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" name="orientador-sobrenome" id="orientador-sobrenome" placeholder="Digite o sobrenome do orientador" required maxlength="100">
                        
                        <label for="corientador-nome">Coorientador - Nome:</label>                        
                        <input type="text" class="form-control" name="coorientador-nome" id="coorientador-nome" placeholder="Digite o nome do coorientador" maxlength="50">
                        
                        <label for="coorientador-sobrenome">Coorientador - Sobrenome:</label>
                        <input type="text" class="form-control" name="coorientador-sobrenome" id="coorientador-sobrenome" placeholder="Digite o sobrenome do coorientador" maxlength="100">
                    </div>
                    <!-- Adicione mais campos conforme necessário para a seção de Dados dos Orientadores -->
                </div>

                <div class="card">
                    <h4 class="text-left"><i class="fas fa-stream section-icon"></i></i>Passo 5 - Configuração da Ficha</h4>
                    <div class="form-group">                        
                        <label for="tipo-arquivo">Tipo Fonte:</label><br>

                        <input type="radio" id="tipo-fonte-arial" name="tipo-fonte" value="Arial" checked>

                        <label for="tipo-fonte-arial" style="font-weight:normal;">Arial</label><br>

                        <input type="radio" id="tipo-fonte-times" name="tipo-fonte" value="Times New Roman">

                        <label for="tipo-fonte-times" style="font-weight:normal;">Times New Roman</label><br>

                        <label for="tipo-arquivo">Tipo Arquivo:</label><br>
                        
                        <input type="radio" id="tipo-arquivo-img" name="tipo-arquivo" value="img">

                        <label for="tipo-arquivo-img" style="font-weight:normal;">Imagem</label><br>
                        
                        <input type="radio" id="tipo-arquivo-pdf" name="tipo-arquivo" value="pdf" checked>
                        <label for="tipo-arquivo-pdf" style="font-weight:normal;">PDF</label><br>                           
                    </div>
                    <!-- Adicione mais campos conforme necessário para a seção de Dados da Saída de Arquivo -->
                </div>                
                <div class="card">
                    <h4 class="text-left"><i class="fas fa-chalkboard-teacher section-icon"></i> Passo 6 - Impressão</h4>
                    <div class="form-group">                        
                        <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-file-alt section-icon"></i></i>Gerar Ficha</button>                       
                    </div>
                    <!-- Adicione mais campos conforme necessário para a seção de Dados dos Orientadores -->
                </div>
            </div>
        </div>        
    </form>
</div>

<script>

    // Quando o valor do campo de seleção de campus é alterado
    document.getElementById("campus").addEventListener("change", function() {
        // Obtém o valor selecionado
        var campusId = this.value;

        // Faz uma requisição assíncrona ao backend para obter os cursos do campus selecionado
        fetch("/ficha/get_cursos", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ campus_id: campusId }),
        })
        .then(response => response.json())
        .then(data => {
            // Limpa as opções existentes
            var cursoSelect = document.getElementById("curso");
            cursoSelect.innerHTML = '<option selected>--- Selecione o curso ---</option>';

            // Adiciona as novas opções com base nos dados recebidos do backend
            data.cursos.forEach(function(curso) {
                var option = document.createElement("option");
                option.value = curso.id;
                option.text = curso.nome;
                cursoSelect.add(option);
            });
        })
        .catch(error => console.error("Erro ao obter cursos: ", error));
    });
     
</script>

{% endblock %}
