{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 login-container text-left bg-light font-weight">
                <h2>GFC - Gerador de Ficha Catalográfica</h2> 
                <hr style="border: 1px solid #067032">             
                {% if mensagem %}
                    <div class="alert alert-danger" role="alert">
                        {{ mensagem }}
                    </div>
                {% endif %}
                <form class="login-form" method="POST" action="/login/autenticar">
                    <div class="mb-3">
                        <label for="username" class="visually-hidden">Username:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="visually-hidden">Password:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="background-color: #067032; border-color: #10a950; width: 100%; text-align:center;">
                        <span style="color: white; font-weight: bold;">Entrar</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
